<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titulo %></title>
    <%- include('partials/head') %>
  </head>

  <body>
    <%- include('partials/navigation') %>
    <!--Contenido Acerca de-->
    <div class="container d-flex justify-content-center align-items-center">
      <section>
        <h4>Presentación</h4>

        <p>
          La casa de Durin (Durin's folk en el original inglés) es una casa
          nobiliaria ficticia que pertenece al legendarium creado por el
          escritor británico J. R. R. Tolkien y cuya historia es narrada
          principalmente en los apéndices de la novela El Señor de los Anillos.
          Fue fundada por el enano Durin I, cuyos descendientes ocuparían el
          cargo de soberano en los reinos de Khazad-dûm y Erebor, así como de
          las Colinas de Hierro. Al linaje completo de Durin se le conoce como
          los enanos barbiluengos (Longbeards en el original inglés).
        </p>

        <h4>Historia de su pueblo</h4>

        <p>
          Fue fundada por Durin I el Inmortal, el mayor de los siete enanos que
          fueron creados por el vala Aulë. Este enano vivió en las cuevas
          existentes bajo el lago Kheled-zâram, en las Montañas Nubladas, y en
          este lugar fue donde más tarde se crearía el reino de Khazad-dûm.
          Durante las Primera y Segunda Edades del Sol nacieron cuatro herederos
          muy parecidos a él, tanto que les bautizaron con el mismo nombre y los
          enanos decían que eran el mismo Durin I reencarnado.
        </p>

        <p>
          Fue durante el reinado de Durin VI, acontecido a mediados de la
          Tercera Edad del Sol, cuando los enanos de Khazad-dûm despertaron a un
          balrog en las profundidades de Khazad-dûm. El rey fue asesinado por la
          criatura y poco después le ocurrió lo mismo a su hijo Náin I, lo que
          llevó a la ruina del reino y a su abandono por parte de los enanos. No
          obstante esto no supuso el fin de la casa de Durin, pues el príncipe
          Thráin había logrado huir hacia el norte de la Tierra Media con una
          parte de su pueblo y en Erebor fundó un nuevo reino.
        </p>
      </section>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
