<footer>
  <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore officia aspernatur doloremque sed! Ratione perferendis, eum facilis quae omnis sed eveniet vitae suscipit quia assumenda voluptate. Perspiciatis dolores quo facere recusandae id repellat at eveniet. Ea iusto laborum voluptates aut deleniti aperiam recusandae sint nisi quo fugiat at quaerat ratione, repellendus id nulla eaque enim voluptatum doloremque eius ipsum voluptate et commodi? Neque inventore ad incidunt veritatis minus voluptate eligendi qui perferendis molestiae voluptas, vitae enim. Totam obcaecati nam optio placeat dignissimos fuga, eum sapiente sequi blanditiis impedit enim omnis explicabo a, quaerat iste itaque autem et neque voluptatum deserunt.</p>
</footer>
