<footer class="container mt-0 d-flex justify-content-center border border-dark">
  <footer id="footer-container">
    <footer id="footer-inner">
      <footer id="copyright">
        <p class="my-3">
          © Copyright 2022 - DiegoAndresMarmota&nbsp;&nbsp;//&nbsp;&nbsp;Hosted
          by "<a href="https://github.com/DiegoAndresMarmota/node-first-proyect"
            >DiegoAndresMarmota</a
          >"
        </p>
      </footer>
    </footer>
  </footer>
</footer>
